.presentation {
    min-width: 100%;
    display: flex;
    height: 90vh;
    background-color: white;
    position: relative;
    z-index: 6;
  }

  .left-block {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }

  .right-block {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .arm {
    margin: 0px;
    height: 100%;
    width: 100%;
  }

  .left-block_section {
    justify-content: center;
    align-items: center;
  }

.order-button {
    width: 90%;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    border: 0 none;
    border-radius: 36px;
    background-color: black;
    color: white;
    animation: animate 5s linear infinite;
    font-size: large;
    letter-spacing: 15px;
    text-transform: uppercase;
    line-height: 2em;
    font-family: 'Oswald', sans-serif;  
    -webkit-tap-highlight-color: transparent;
}

.order-button:hover {
    color: white;
    animation: none;
}

.order-button:hover .textButtonNormal {
    display: none;
}

.order-button .textButtonHover {
    display: none;
}

.order-button:hover .textButtonHover {
    display: block;
    color: red;
}
.order-button:focus{
    outline:0;
    }


/* catalog */


.catalog {
    display: flex;
    justify-content: space-around;
    background-color: rgb(43, 42, 42);
    width: 100%;
    padding: 10px;
    position: relative;
    z-index: 5;
    align-items: flex-start;
    font-style: 'Oswald', sans-serif;;
}

.catalog section {
    width: 315px;
    height: 230px;
    padding: 0px;
    margin: 50px 5px 50px 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    font-size: 18px;
    box-shadow: -12px 23px 17px 2px #000000;
    transition: all 1s linear 0s;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 16px;
    -webkit-tap-highlight-color: transparent;
}

.catalog section img {
    height: 150px;
}

.catalog section:hover {
    box-shadow: -24px 33px 37px 2px #000000;
    top: -10px;
    left: 10px;
    cursor: pointer;
    height: 950px;
}

.catalog_block {
    display: flex;
    z-index: 6;
    background-color: white;
    margin-top: 0px;
    width: 100%;
    border-radius: 18px;
    padding: 20px;
    justify-content: space-between;
}

.catalog section li {
    margin-bottom: 6px;
}

.catalog section ul {
    position: relative;
    list-style-type: circle;
    display: block;
    z-index: 4;
    bottom: 700px;
    transition: all 1s linear 0s;
    color: rgb(43, 42, 42);
    margin: 25px;
}



.catalog section:hover ul {
    bottom: 0;
}


@keyframes animate

{
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92%{
      color: rgb(56, 56, 56);
      box-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%,100%{
      color: #fff;
      box-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 100px #03bcf4,
  }
}


@media only screen and (max-width: 1100px) {
    .right-block {
        display: none;
    }
    .left-block {
        width: 100%;
    }
    header {
        flex-direction: column;
        height: 128px;
        
    }
    
    nav a {
        margin: 5px;
        padding: 5px;
    }
    
    ul {
        justify-content: space-around;
        margin-right: 0px;
        padding: 0px;
        
    }
  
    .logo {
        margin-left: 0px;
    }
   
  }
  
  @media only screen and (max-width: 390px) {

    nav a {
        margin: 1px;
    }
  }
  
  @media only screen and (max-width: 1050px) {
      
    .catalog {
        flex-wrap: wrap;
    }
    .catalog section {
        box-shadow: 0px 0px 0px 0px #000000;
        height: 760px;
    }

    .catalog section ul{
        top: 0;

    }

    .catalog section:hover {
        box-shadow: 0px 0px 0px 0px #000000;
        height: 760px;
    }
  }
  
  @media only screen and (max-width: 359px) {
    .catalog section:hover {
        height: 760px;
    }
  }
  
  
  
  
  
  
  