@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap');
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden !important;
}

img {
  user-select: none;
}

button {
  user-select: none;
}

h2 span {
  color: gray;
  border-bottom: 1px solid black;
}

footer{
  background-color: rgb(84, 84, 84);
  color: rgb(255, 255, 255);
  letter-spacing: 3px;
  height: 5vh;
  text-align: center;
}

.footer-to-bot {
  min-height: 95vh;
}

.vh-85 {
  height: 85vh;
}

.max-vh-75 {
  height: 75vh;
}


.footer-to-bot-2 {
  min-height: 85vh;
}

.vh-50 {
  min-height: 50vh;
}

.black-border {
  border: 1px solid black;
}

.overflow-x-hide {
  overflow-x: hidden !important;
}
