.contact-us {
    min-height: 80vh;
    padding: 15px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.contact-us h2 {
    font-size: 60px;
}