.contact-us {
    min-height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0px 20px 0px 20px;
}

.contact-us h2 {
    font-size: 64px;
}